
@use '/src/styles/variables/vars';

.cards{
    padding: 40px 0px;
    position: relative;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px; 
        @media(min-width: vars.$tablet_lower){
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
        
        @media(min-width: vars.$laptop_lower){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__background{
        content: '';
        display: block;
        position: absolute;
        left: 0%;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(75deg, vars.$color_secondary 0%, vars.$color_primary 35%, vars.$color_highlight 100%); 
        transition: width .5s;
        transform: translateY(-50px);
    }
}

.card{
    background-color: vars.$white;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: vars.$color_primary;
        text-align: center;
        padding: 80px;
        transition: all .3s;
        z-index: 5;

        &-inner{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            > *{
                color: vars.$offwhite;
            }
        }
    }

    &__img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    &.loading-false{
        box-shadow: 3px 3px 10px -5px vars.$color_basic;
    }

    &.wide{
        grid-column: span 2;

        &:hover{
            &:after{
                height: 150%;
                width: 100%;
            }
        }
    }
}