
@use '/src/styles/variables/variables';

.cards{
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px; 
        padding: 40px 0px;
        @media(min-width: variables.$tablet_lower){
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
        
        @media(min-width: variables.$laptop_lower){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.card{
    background-color: variables.$white;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: variables.$color_primary;
        border-radius: 100%;
        text-align: center;
        padding: 80px;
        transition: all .3s;
        z-index: 5;

        &-inner{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            > *{
                color: variables.$offwhite;
            }
        }
    }

    &__img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    &.loading-false{
        box-shadow: 3px 3px 15px -5px variables.$color_basic;
    }

    &:after{
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        top: 50%;
        left: 50%;
        padding: 80px;
        border-radius: 50%;
        background-color: variables.$color_primary;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: all .4s;
    }

    &:hover{
        &:after{
            height: 150%;
            width: 200%;
        }
    }

    &.wide{
        grid-column: span 2;

        &:hover{
            &:after{
                height: 150%;
                width: 100%;
            }
        }
    }
}