
@use '/src/styles/variables/vars';

.hero{
    height: calc(100vh - vars.$header_height);
    max-height: 1500px;
    &__wrapper{
        display: flex;
    }
    
    &__content{
        padding-top: 15vh;
        max-width: 500px;
        z-index: 1;

        @media(min-height: vars.$tablet_lower){
            padding-top: 25vh;
        }

        &--title{
            margin: 20px 0px;
        }

        &--subtitle,&--tagline{
            margin-bottom: 10px;
        }

    }

    &__image{
        width: 0; 
        height: 0; 
        border-top: 40vh solid transparent;
        border-bottom: 40vh solid transparent; 
        border-right: 200px solid vars.$color_secondary;
        right: 0;
        position: absolute;
        @media(min-width: vars.$tablet_lower){
            position: initial;
        }

        &::after{
            width: 100vw;
            height: 100%;
            top: 0;
            transform: translateX(199px);
            content: '';
            display: block;
            background-color: vars.$color_secondary;
            position: absolute;
        }
    }

    &__arrow{
        width: 0; 
        height: 0; 
        right: 0;
        border-top: 35vh solid transparent;
        border-bottom: 35vh solid transparent; 
        border-right: 150px solid vars.$color_highlight;
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        transform: translateY(50%);
    }

}