
@use '/src/styles/variables/vars';

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: vars.$offwhite;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: all .3s;
    opacity: 1;

    &__spinner {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-top: 200px;

        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid vars.$color_basic;
            border-color: vars.$color_basic transparent vars.$color_basic transparent;
            animation: lds-dual-ring 1.2s linear infinite;
          }
          @keyframes lds-dual-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
      }

}