
.particleController{
    z-index: 9999;
    background-color: white;
    box-shadow: 3px 3px 10px -8px black;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;

    &__input{
        display: flex;

        &:not(:last-child){
            margin-bottom: 5px;
        }
        
        input{
            margin-right: 20px;
        }
    }

    &__buttons{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        input{
            margin-right: 10px;
        }
    }

    &__radio{
        display: flex;
        > div:not(:last-child){
            margin-right: 20px;
        }
    }    

    &__color{
        display: block;
        &--button{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            button{
                margin-left: 10px;
            }
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            flex-wrap: wrap;
            grid-gap: 5px;
        }
        &--item{
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            label{
                width: 25px;
                height: 25px;
                display: inline-block;
                border: 1px solid black;
                border-radius: 100%;
                color: transparent;
            }
        }
    }
}