
//General colors
$white: white
$off-white: #fffafa
$black: #333
$gray: lighten(#999, 30%)

$green: lightgreen
$blue: #01c5ff

//Primary colors
$primary-color: $blue
$primary-invert: $white

//Secondary colors
$secondary-color: $gray
$secondary-invert: $black