
$white: #FFF;
$offwhite: #E5FCFF;
$lightblue: #ABDAFC;
$brightgreen: #02C39A;
$deepblue: #333745;
$pastelred: #EB5E55;

$color_primary: $brightgreen;
$color_secondary: $deepblue;
$color_highlight: $pastelred;
$color_basic: $lightblue;