
$white: #FFF;
$offwhite: #EEE;
$darkgray: #363636;

$brightorange: #FF4000;
$redrust: #B82E00;
$redsalmon: #FFA385;

$lightpurple: #8D80AD;



$color_primary: $brightorange;
$color_secondary: $redrust;
$color_highlight: $redsalmon;
$color_highlight-alt: $lightpurple;
$color_basic: $darkgray;