
$white: #FFF;
$offwhite: #FEF0EC;
$ivory: #FFE3E3;
$darkgreen: #008970;
$lightgreen: #CBF6EF;
$darkpurple: #210124;


$color_primary: $darkgreen;
$color_secondary: $offwhite;
$color_highlight: $lightgreen;
$color_basic: $darkpurple;