
@use '/src/styles/variables/vars';

.button{
    background-color: vars.$color_primary;
    color: vars.$white;
    margin: 10px 0px;
    display: inline-block;
    padding: 5px 0px;
    font-size: 1.4rem;
}