
@use '/src/styles/variables/variables';

body{
    background-color:variables.$offwhite;
    overflow-x: hidden;
}

main{
    position: relative;
    padding-top: variables.$header_height;
}

.pagecontainer{
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 0px 20px;
    box-sizing: border-box;

    @media(min-width: variables.$tablet_lower){
        padding: 0px 40px;
    }
}