
@use '/src/styles/variables/variables';

// Titles

h1, h2, h3, h4, h5{
    font-family: variables.$font_body;
    color: variables.$color_basic;
}

h1{
    font-size: 3rem;
    margin-bottom: 20px;
    
    @media(min-width: variables.$tablet_lower){
        font-size: 4rem;
    }
}

h2{
    font-size: 2rem;

    @media(min-width: variables.$tablet_lower){
        font-size: 2.4rem;
    }
}

h3{
    font-size: 1.2rem;

    @media(min-width: variables.$tablet_lower){
        font-size: 1.6rem;
    }
}

// Content

p, span, ul, li, input, select, button, a{
    font-family: variables.$font_body;
    color: variables.$color_basic;
}

a:not([class]){
    background-color: variables.$color_primary;
    color: variables.$lightgreen;
}